<%# The title for this view is "Account Management" %>
<% if (title) { %>
    <h1>
        <%= title %>
    </h1>
<% } else { res.redirect('/') } %>

<!-- ADD THIS LINE TO DISPLAY THE FLASH MESSAGE -->
<%- messages() %>
<% if (errors) { const filtered=errors.array().filter(e=> e.msg !== 'Invalid value');
    if (filtered.length) { %>
    <ul class="flash-message notice">
        <% filtered.forEach(error=> { %>
            <li>
                <%= error.msg %>
            </li>
            <% }) %>
    </ul>
<% } } %>

<h2>Welcome <%= locals.accountData.account_firstname %> <%= locals.accountData.account_lastname %></h2>
<p>You're logged in.</p>
